

.jumbotron {
	background-color: $fourthly-color;
    background: url(../../Assets/Images/jumbotron-image.jpg);
	margin: 10px;
    ul{
        display: flex;
        flex-flow: row nowrap  ;
        justify-content: space-between;
    }
	li{
        padding: 0 10px;
        list-style-type: none; 
        a{
            text-decoration: none;
            color: $main-color;
        }
	}
}
