@import "../../Assets/Styles/variables.scss";

.Navbar {
	margin: 10px;
	ul {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}
	li {
		padding: 0px 10px;
		list-style-type: none;
		font-size: 3rem;
		a {
			color: $primary-color;
			text-decoration: none;
			&.active {
				text-decoration: underline;
			}
			// text-decoration: none;
			// color: $main-color;
			// &:active{
		}
	}
}
