@import "../../Assets/Styles/variables.scss";
@import "../../Assets/Styles/mixin.scss";

.Navbar {
	font-size: 3rem;
	flex-grow: 1;
	margin: 10px;
	text-transform: uppercase;
	@include small-generic {
		flex-grow: 7;
		margin: 0px;
		font-size: 1.5rem;


	}
	@include mobile-generic {
		flex-grow:7;
		margin: 0px;
		font-size: 1.5rem;

	}
	ul {
		padding: 0;
		display: flex;
		flex-flow: row nowrap;
		justify-content:flex-end;
	}
	li {
		padding: 0px 20px;
		list-style-type: none;
		a {
			color: $primary-color;
			text-decoration: none;
			&.active {
				text-decoration: underline;
			}
		}
	}
}
