@import "../../Assets/Styles/variables.scss";
@import "../../Assets/Styles/mixin.scss";

header {
	margin: 30px 30px 10px 30px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	// @include small-generic {
	// 	margin: 0px;
	// }
	// @include mobile-generic {
	// 	margin: 0px;
	// }
	.header-logo {
		flex-grow: 7;
		img {
			// width: 100%;
		}
		@include small-generic {
			flex-grow: 1;
            flex-basis: 40%;
		}
		@include mobile-generic {
			flex-grow: 1;
            flex-basis: 40%;
			img {
				width: 100%;
			}
		}
	}
}
