// @use "../../Assets/Styles/variables.scss";


@import "./Assets/Styles/variables.scss";
@import "./Assets/Styles/mixin.scss";
html{
    font-family: 'Montserrat', sans-serif;
    font-size: 8px;
    @include small-generic {
        font-size: 6px;
	}
	@include mobile-generic {
        font-size: 6px;
	}
}
body{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 6rem;
    color: $white-color;
}